
/* =============================================================
   GENERAL STYLES
 ============================================================ */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    line-height:30px;
    color:#333333;

}
.head-line {
    padding-top:50px;
    font-size:40px;
    font-weight:900;
    padding-bottom:30px;
}

/* =============================================================
   HEADER STYLES
 ============================================================ */
#header {
    background-color: #0C739B;
    background: url(../images/1.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    color:#E2E2E2;
}
#header .overlay {
    background-color:rgba(2, 2, 2, 0.56);
    min-height:250px;
}
.logo-div {
    line-height:23px;
}

.logo-inner {
    font-size: 30px;
    font-weight: 900;
    padding: 60px 20px 50px 20px;
    text-align: center;
    line-height: 23px;
}

.logo-name img {
    height:150px;
    width:150px;
}
.logo-inner span {
    display: block;
}

.logo-name a, .logo-name a:hover {
    color: rgba(147, 209, 234, 1);
    text-decoration: none;
    font-size: 16px;
}

.header-text-top {
    padding: 50px 30px 40px 30px;
    line-height: 30px;
    font-weight: 900;
}

.header-text-top a, .header-text-top a:hover {
    text-decoration: none;
}



/* =============================================================
  INFO SECTION STYLES
============================================================ */

.info-sec {
    background-color: #000000;
    padding: 20px 50px 10px 50px;
    color: #FFFFFF;
}
.social-link a, .social-link a:hover {
    text-decoration:none;
    margin-right:10px;
}

/* =============================================================
 BLOG POST STYLE
============================================================ */
.blog-post {
    padding-bottom:20px;
    border-bottom:2px solid #f4f4f4;
    padding-top:20px;
}
.blog-post a, .blog-post a:hover {
    font-size:16px;
    text-decoration:none;
    color: #CC6666;
}
.blog-post h1 {
    font-size:30px;
    line-height:1.6;
    margin-top:0;
    margin-bottom:0;
    color: #000000;
}
.blog-post h4 {
    font-size:20px;
    line-height:25px;
}
.blog-post .item-info{
    font-size: 14px;
    color: darkgray;
    margin-bottom:0;
    margin-top:0;
}
.blog-post .item-info span{
    color: #CC6666;
}
.blog-post .item-content {
    font-size:16px;
    line-height:24px;
    padding-bottom:8px;
    padding-top:8px;
    color: #666666;
}
.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
/* =============================================================
  FOOTER SECTION STYLES
============================================================ */
.footer-sec {
    background-color:#000000;
    margin-top:50px;
}
.foo-inner {
    text-align:right;
    padding:20px 30px;
    color:#fff;
}

.pagination > li > a, .pagination > li > span{
    color: #666666;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #666666;
    border-color: #666666;
}