<h1>新分类</h1>
<%= form_for :category, url: categories_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name,class: "form-control" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
